<?php

define(HOST, '127.0.0.1');
define(DB, 'tdb_rudko');
define(USER, 'root');
define(PASSWD, '');
define(CHARSET, 'utf8');

define(DNS, "mysql:host=127.0.0.1;dbname=tdb_rudko;charset=utf8");
define(OPT, [
    PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,
    PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC,
    PDO::ATTR_EMULATE_PREPARES => false,
]);
